@tailwind base;
@tailwind components;
@tailwind utilities;

.custom__container {
  display: flex;
  margin-top: 50px;
}

.col4 {
  width: 33%;
}

.col8 {
  width: 66%;
}

.profile__container {
  padding: 20px;
  padding-bottom: 30px;
  border-left: 1px solid rgb(180, 180, 180);
}

.container__list {
  padding-top: 20px;
}

li {
  border: 1px solid rgb(180, 180, 180);
  border-right: none;
  border-bottom: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(211, 211, 211);
  padding: 5px 10px;
}

.active {
  background-color: #FFF;
  font-weight: bold;
}

.img__star {
  margin: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 1px solid #a5a4a4;
  width: 150px;
  display: inline;
  float: left;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
}

p {
  display: inline;
}

.only__mobile {
  display: none;
}

@media (max-width: 480px) {
  .col4, .col8 {
    display: none;
  }
  .colm-f {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  li {
    border-radius: none;
  }

  .only__mobile {
    display: block;
    font-weight: normal;
  }
  h3 {
    font-weight: normal;
    font-size: inherit;
  }

  .img__star  {
    margin-left: 0px;
  }

  .profile__container {
    border: none;
    padding: 0;
  }
}